@model SalesDemo.Models.User

<h2 class="text-danger" >@ViewBag.Error</h2>

<form asp-controller="Sandbox" asp-action="Create" method="GET" class="form-horizontal">
     <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-default">New demo sandbox</button>
        </div>
    </div>    
    <input type="hidden" asp-for="Session"/>
    <input type="hidden" asp-for="Domain"/>
</form>


<form asp-controller="Job" asp-action="Index" method="GET" class="form-horizontal">
     <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-default">Retrieve Job</button>
        </div>
    </div>
    
    <input type="hidden" asp-for="Session"/>
    <input type="hidden" asp-for="Domain"/>
</form>