@model SalesDemo.Models.Vault

@{
    ViewBag.Title = "Success!";
}

<h1>@ViewBag.Title</h1>

<p>
    Your sandbox vault has been activated on the URL below.
    <br/>
    Indexing will now run in the background, you may experience some issues if you log in with 10 minutes of sandbox creation. 
</p>

<h2><a href="@Model.Dns">@Model.Dns</a></h2>
