@model SalesDemo.Models.Login

@{
    ViewBag.Title = "Test sandbox tool";
}
<h1>@ViewBag.Title</h1>
<form asp-controller="Home" asp-action="Index" method="POST" class="form-horizontal">
    <h4>Supply credentials.</h4>
        
    <div class="form-group">
        <label asp-for="Domain" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Domain" class="form-control" />
            <span asp-validation-for="Domain" class="text-danger"></span>
        </div>
    </div>  
    <div class="form-group">
        <label asp-for="Username" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Go</button>
        </div>
    </div>    
</form>
<p class="when_embedded warning" hidden>
    Your session expired: refresh your window to generate a new session id
</p>
<p class="when_standalone">
    To avoid having to supply credentials, run from a custom tab in your Vault. Set <strong>Tab Type</strong> to "Web" and URL to:
    <br/>
    <code id="code_url">
        https://domain/Sandbox?Session=${Session.id}&Domain=${Vault.domain}
    </code>
    <img src="~/images/sshot.png" alt="tab setup screen shot">
</p>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
 